<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appublisher.quizbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="androd.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 个推SDK权限 START -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="getui.permission.GetuiService.com.appublisher.quizbank" />

    <permission
        android:name="getui.permission.GetuiService.com.appublisher.quizbank"
        android:protectionLevel="normal" />
    -

    <!-- 个推SDK权限 END -->
    <application
        android:name=".QuizBankApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:allowBackup">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 友盟 -->
        <activity android:name="com.umeng.fb.ConversationActivity" />

        <!--<meta-data-->
            <!--android:name="UMENG_CHANNEL"-->
            <!--android:value="${APP_CHANNEL}" />-->
        <!--<meta-data-->
            <!--android:name="TD_CHANNEL_ID"-->
            <!--android:value="${APP_CHANNEL}" />-->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="551bd7ddfd98c50c5500044f" >
        </meta-data>

        <!-- 数据库 -->
        <meta-data
            android:name="AA_MODELS"
            android:value="com.appublisher.quizbank.model.db.GlobalSetting,                                         com.appublisher.quizbank.model.db.Grade,                                         com.appublisher.quizbank.model.db.Mock,                                         com.appublisher.quizbank.model.db.Paper,                                         com.appublisher.lib_login.model.db.User,                                         com.appublisher.lib_course.offline.model.db.Offline" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="6" />

        <!-- 个推SDK配置开始 -->
        <receiver
            android:name=".broadcast.PushReceiver"
            android:exported="false">
            <intent-filter>

                <!-- 个推 appID -->
                <action android:name="${GT_APPID}" />
            </intent-filter>
        </receiver>
        <!-- 个推SDK配置结束 -->


        <!-- 新浪回调Activity -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- 微信回调Activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.SystemNoticeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_system_notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_qa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LegacyMeasureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_measure"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnswerSheetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_answer_sheet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.measure.activity.ScratchPaperActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_scratch_paper"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTransparent" />
        <activity
            android:name=".activity.PracticeReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_practice_report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LegacyMeasureAnalysisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_measure_analysis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryMokaoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_history_mokao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EvaluationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_evaluation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.measure.activity.MeasureDescriptionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_practice_description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpecialProjectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_special_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoticeDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_notice_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAnalysisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_my_analysis"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.AppGuideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_app_guide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuFenListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_gufen_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MockPreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mock_pre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipIndexActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_index"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipNotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipZJZDActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_zizd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipExerciseIndexActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_exercise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommonFragmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label=""
            android:screenOrientation="portrait" />

        <!-- Image Selector Entry -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".common.vip.activity.VipGalleryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipBDGXActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".common.vip.activity.VipExerciseDescriptionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_exercise_description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipYDDKActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_exercise_yddk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".common.vip.activity.VipMSJPActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_msjp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipBaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipDTTPActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_dttp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipHPTSActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_hpts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipXCReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_xc_report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MockListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mock_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.interview.activity.InterviewPaperListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.interview.activity.InterviewGuoKaoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_interview_guokao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.interview.activity.InterviewCategoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_interview_category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.interview.activity.InterviewPaperDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_interview_paper_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.interview.activity.InterviewMaterialDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_interview_material_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.measure.activity.MeasureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.measure.activity.MeasureReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.measure.activity.MeasureAnalysisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.measure.activity.MeasureBaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.measure.activity.MeasureMockReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_measure_mock_report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.measure.activity.MeasureReportBaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.measure.activity.MeasureSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.RecordCollectActivity"
            android:label="@string/title_activity_record_collect"
            android:theme="@style/AppTheme" />

        <!-- 监听是否存在其他应用播放器的服务 -->
        <service android:name=".common.interview.service.MediaPlayingService"/>

        <activity
            android:name=".common.interview.activity.InterviewCommentProductActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_buy_teacher_comment" />
        <activity
            android:name=".common.interview.activity.ProductOrderInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_order_status" />
        <activity
            android:name=".common.interview.activity.InterviewCommentListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_teacher_comment_list" />

        <activity
            android:name=".common.interview.activity.InterviewCommentGuideActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>