<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appublisher.quizbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="androd.permission.INSTALL_PACKAGES" />

    <application
        android:name=".QuizBankApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 百度定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="B3547418bc3eb81c55baa59a8fb16975" />

        <!-- 友盟反馈 -->
        <activity android:name="com.umeng.fb.ConversationActivity" />

        <!-- 友盟分享 -->
        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1104655578" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${APP_CHANNEL}" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${APP_CHANNEL}" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.appublisher.quizbank.model.db.GlobalSetting,                            com.appublisher.quizbank.model.db.Grade,                            com.appublisher.quizbank.model.db.Mock,                            com.appublisher.quizbank.model.db.Paper,                            com.appublisher.lib_login.model.db.User,                            com.appublisher.lib_course.offline.model.db.Offline" />

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 微信回调Activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.BaseActivity" />

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GT_APPID}" />
        <!-- 替换为第三方应用的APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GT_APPKEY}" />
        <!-- 替换为第三方应用的APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GT_APPSECRET}" />
        <!-- 替换为第三方应用的APPSECRET -->
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" />
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser" />

        <receiver
            android:name=".broadcast.PushReceiver"
            android:exported="false">
            <intent-filter>

                <!-- 个推 appID -->
                <action android:name="${GT_ACTION_APPID}" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="${GT_AUTHORITIES}"
            android:exported="true"
            android:process=":pushservice" />
        <!-- 替换为第三方应用的包名 -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="${GT_ACTION_APPID}" />
                <!-- 替换为第三方应用的APPID -->
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <!-- 个推SDK配置结束 -->

        <activity
            android:name=".activity.SystemNoticeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_system_notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_qa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeasureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_measure"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnswerSheetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_answer_sheet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScratchPaperActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_scratch_paper"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTransparent" />
        <activity
            android:name=".activity.PracticeReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_practice_report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeasureAnalysisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_measure_analysis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryMokaoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_history_mokao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EvaluationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_evaluation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PracticeDescriptionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_practice_description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpecialProjectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_special_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoticeDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_notice_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAnalysisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_my_analysis"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_web_view" />
        <activity
            android:name=".activity.AppGuideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_app_guide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MockActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MockPreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mock_pre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.vip.activity.VipIndexActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vip_index"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>