<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appublisher.quizbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="androd.permission.INSTALL_PACKAGES" />

    <application
        android:name=".QuizBankApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 百度定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="B3547418bc3eb81c55baa59a8fb16975" />

        <!-- 友盟反馈 -->
        <activity android:name="com.umeng.fb.ConversationActivity" />

        <!-- 友盟分享 -->
        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1104655578" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_appkey" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${APP_CHANNEL}" />

        <!-- TalkingData -->
        <meta-data
            android:name="TD_APP_ID"
            android:value="@string/talkingdata_appid" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${APP_CHANNEL}" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- 微信回调Activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <!-- Activity -->
        <!-- 登录注册模块Activity -->
        <activity
            android:name=".common.login.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.NicknameChangeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_nickname_change"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.PwdChangeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_pwd_change"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.BindingMobileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.SetpwdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_setpwd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.CannotGetSmsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_cannot_get_sms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExamChangeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_exam_change"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemNoticeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_system_notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_qa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeasureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_measure"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScaleImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="ScaleImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnswerSheetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_answer_sheet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScratchPaperActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_scratch_paper"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTransparent" />
        <activity
            android:name=".activity.PracticeReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_practice_report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeasureAnalysisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_measure_analysis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryMokaoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_history_mokao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EvaluationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_evaluation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PracticeDescriptionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_practice_description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpecialProjectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_special_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoticeDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_notice_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAnalysisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_my_analysis"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.OpenCourseUnstartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_open_course_unstart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OpenCourseNoneActivity"
            android:label="@string/title_activity_open_course_none" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_web_view" />
        <activity
            android:name=".activity.AppGuideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_app_guide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.MobileRegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mobile_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.RegisterSmsCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_register_sms_code"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.ForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_forget_pwd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.EmailResetPwdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_email_reset_pwd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.CannotGetEmailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_cannot_get_email"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.MobileResetPwdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mobile_reset_pwd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MockActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.login.activity.BindingSmsCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_binding_sms_code"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MockPreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mock_pre"
            android:screenOrientation="portrait" />

        <!-- 离线模块 -->
        <activity android:name=".common.offline.activity.OfflineActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".common.offline.activity.OfflineClassActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".common.offline.activity.OfflineWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
